body{
    background-color: #FCC6FF;
}

.face{
    height: 400px;
    width: 400px;
    background-color:#F2B28C;
    border-radius: 50%;
    margin: 10px auto;
}

.mouth{
    width: 200px;
    height: 60px;
    background-color: #5C7285 ;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    position: absolute;
    top: 270px;
    left: 300px;
}

.left-eye , .right-eye{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: brown;
    display: inline-block;
    position: absolute;
    left: 290px;
    top: 110px;
}

.right-eye{
    left:440px
}