h1{
    text-align: center;
    border: 5px solid black;
    text-decoration: wavy red underline;
    font-size: 50px;
    font-family: avant garde, didot, sans-serif;
}

button{
    color: blue;
    background-color: white;
}

h2{
    color: rgb(255,255,0);
    background-color: #000000;
    text-decoration: wavy line-through;
}

p{
    text-align: justify;
    font-weight: bolder;
    background-color: bisque;
    line-height: 2.5;
    letter-spacing: 5px;
    font-size: 30px;
    font-family: fantasy;
}

h3{
    color: rgb(135, 14, 119);
    text-decoration: dotted overline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}