h1{
    background-color: yellow;
    border: 2px solid black;
}

@media (width: 500px) {
    h1{
        background-color: red;
        color: white;
    }

    div{
        height: 100px;
        width: 100px;
        background-color: blue;
    }
}

@media (min-width: 800px){
    h1{
        background-color: yellowgreen;
    }
}

@media (max-width: 610px){
    h1{
        background-color: pink;
    }
}